@media (max-width: 1263px) {
  body {
    overflow-x: hidden !important;
    width: 100% !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .header-logo {
    width: 100% !important;
    height: auto !important;
  }
  .main-header {
    background-color: rgba(255, 255, 255, 0) !important;
  }

  .hidden-m {
    display: none !important;
  }
  .main-footer {
    width: 100% !important;
    font-size: 5px !important;
  }
  .forewords-title-sub {
    font-size: 20px;
    margin-bottom: 30px;
    padding: 0;
    top: 0;
    position: initial !important;
    margin-left: 0 !important;
    z-index: 0 !important;
  }

  .artwork-contents {
    word-break: break-all !important;
  }

  .guestbook-subtitle-text {
    font-size: 16px !important;
  }

  .imglist-image {
    width: 150px !important;
  }
  .image-belt {
    height: 680px !important;
  }
  .belt-mobile-1 {
    margin-top: -150px !important;
  }
  .belt-mobile-2 {
    padding-top: 250px !important;
  }

  .intro-ellipse {
    width: 22px !important;
    height: 22px !important;
  }
  .intro-title-text {
    font-size: 28px !important;
  }
}

@media (min-width: 1264px) {
  .hidden-pc {
    display: none !important;
  }
}
