.artistdetail-title-item {
  margin: 3rem 0;
}
.artistdetail-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistdetail-title-img {
  width: 412px;
  height: 412px;
}

.artistdetail-korean-name {
  font-size: 52pt;
}

.artistdetail-englist-name {
  font-size: 24pt;
  font-weight: lighter;
}

.artistdetail-ellipse-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistdetail-ellipse-img {
  width: 32px;
  height: 32px;
}

.artwork-title-text {
  font-size: 20pt;
}

.artwork-img {
  width: 1600px;
  height: 940px;
  margin: 2rem 0;
}

.artwork-detail-title-text {
  font-size: 24pt;
  margin: 1rem 0;
}
