.book-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
  background: #ccc;
}

.book {
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: visible;

  height: 764px * 0.75;
  width: 602px * 0.75;
}

.front {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: calc(602px * 0.75 / 2);
  transform-origin: left center;

  background-image: url("../images/modal-paper-left-img.jpg");
  width: calc(602px * 0.75 / 2);
  height: 764px * 0.75;
}

.book-open {
  transform: rotateY(-180deg);
  transition: transform 3s ease-in-out 5s;
}

.back {
  //transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: calc(602px * 0.75 / 2);
  transform-origin: left center;

  background-image: url("../images/modal-paper-right-img.jpg");
  width: calc(602px * 0.75 / 2);
  height: 764px * 0.75;
}

// .front:hover {
//   transform: rotateY(-180deg);
//   box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
// }

.book-btn:hover {
  cursor: pointer;
}

.text {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  //opacity: 0;
  animation: textView 5s ease-in-out;
}

.text-view {
  opacity: 1;
  transition: opacity 3s ease-in-out 3s;
}

@keyframes textView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
