.imglist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px * 0.75;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.imglist-row {
  transform-style: preserve-3d; //요소의 자식이 3D 공간에 배치
  animation: three-dimensions-circle 50s linear infinite;
  width: 100%;
  padding: 0;
  // overflow: hidden;
}

.imglist-item,
.imglist-item2 {
  width: 200px;
  height: 200px;
  //border: 1px solid hotpink;
  position: absolute;
  //top: 50%;
  //left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  &:hover {
    cursor: pointer;
  }
}

@for $i from 1 through 48 {
  .imglist-item:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 7.5 - 7.5}deg) translateY(-1000%) rotateX(90deg);
  }
}

@for $i from 1 through 48 {
  .imglist-item2:nth-child(#{$i}) {
    transform: translate(-50%, -50%) rotate(#{$i * 7.5 - 7.5}deg) translateY(1000%) rotateX(90deg);
  }
}

@keyframes three-dimensions-circle {
  0% {
    transform: rotateX(-90deg) rotate(0);
  }
  100% {
    transform: rotateX(-90deg) rotate(360deg);
  }
}

.imglist-image {
  width: 150px;
  height: auto;
  filter: drop-shadow(3px 5px 3px rgba(0, 0, 0, 0.3));
  // box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1);
  // margin-bottom: 100px !important;
}

.belt-ellipse-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imglist-ellipse {
  width: 25px * 0.75;
  height: 25px * 0.75;
  // margin: 0.5rem;

  //margin-left: 87.56px;
  // margin-bottom: -200px;
  // margin: 0 auto;
}
