.main-footer {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14pt;
  vertical-align: bottom;
}

.footer-icon {
  text-align: center;
  vertical-align: middle;
  border: 1px solid red;
}

.footer-icon1 {
  width: 28.57px;
  height: 20px;
}

.footer-icon2 {
  width: 20px;
  height: 20px;
}

.footer-icon3 {
  width: 48px;
  height: 48px;
}
