.main-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f2f2f2;
}

.header-logo {
  width: 912.79px * 0.6;
  height: 151px * 0.6;
}

.header-icon {
  width: 48px * 0.75;
  height: 48px * 0.75;
}

.icon-rotate {
  transform: rotate(0deg);
  transition: 0.5s;

  &:hover {
    transform: rotate(45deg);
    cursor: pointer;
  }
}

.modal-icon {
  &:hover {
    cursor: pointer;
  }
}
