.writing-greeting {
  border: 1px solid black;
  margin: 3rem 0;
  padding: 1rem;
  width: 560px * 0.75;
  height: 360px * 0.75;
  box-shadow: 3px 3px grey;
}

.text-size20 {
  font-size: 20px * 0.75;
}

.text-size16 {
  font-size: 16px * 0.75;
}

.greeting-name-input {
  border: none;
  width: 50%;
  background-color: #f2f2f2;
}

.greeting-send-btn-wrap {
  text-align: end;
}

.greeting-send-btn-img {
  width: 122px * 0.75;
  height: 71px * 0.75;
  &:hover {
    cursor: pointer;
  }
}

.writing-greeting-textbox {
  margin: 1.5rem 0;
}

.greeting-send-text {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  border: none;
  resize: none;
  //background-color: #f2f2f2;
  background-image: linear-gradient(to right, #f2f2f2 10px, transparent 10px),
    linear-gradient(to left, #f2f2f2 10px, transparent 10px),
    repeating-linear-gradient(#f2f2f2, #f2f2f2 30px, black 30px, black 31px, white 31px);
  line-height: 31px;
}

//인사말 카드
.greeting-card {
  border: 1px solid black;
  margin: 3rem 0;
  padding: 1rem;
  width: 560px * 0.75;
  height: 360px * 0.75;
  box-shadow: 3px 3px grey;
}

.greeting-card-maintext {
  margin: 3rem 0;
}
