.guestbook-body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 10rem 0;
}

.leave-name,
.say-hello {
  &:hover {
    cursor: pointer;
  }
}

.ellipse {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0;
}

.ellipse1 {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin: 0;
  padding: 0px !important;
}

.guestbook-ellipse-img {
  width: 26.76px * 0.75;
  height: 26.76px * 0.75;
}

.guestbook-subtitle-text {
  font-size: 32px * 0.75;
}

.text1-sub {
  font-size: 24px * 0.75;
  font-weight: lighter;
  // opacity: 50%;
  color: #707070;
}
