//폰트
// @font-face {
//   font-family: "AnimalsOldCuts";
//   src: local("AnimalsOldCuts"), url(../../fonts/AnimalsOldCuts.ttf) format("truetype");
// }

.intro {
  height: 90vmin;
}

.title {
  &:hover {
    cursor: pointer;
  }
  &:hover .intro-ellipse {
    background-image: url("../images/filled_ellipse.png");
  }
  &:hover .show-hover {
    display: block;
    font-family: "AnimalsOldCuts";
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  &:hover .hidden-hover {
    display: none;
    font-family: koreanNMJB;
  }
}

.intro-title-a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.intro-title-text {
  font-size: 64px * 0.75;
  // font-family: "Noto Sans KR", sans-serif;
  font-family: koreanNMJB;
}

.show-hover {
  display: none;
  font-size: 64px * 0.4;
}

//타원
.intro-ellipse-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.intro-ellipse {
  width: 64px * 0.75;
  height: 64px * 0.75;
  background-image: url("../images/ellipse.png");
  background-size: cover;
}

.fade-in-box {
  animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

//애니메이션
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
