.intro-title-a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
.intro-title {
  font-size: 64px * 0.75;
  &:hover {
    cursor: pointer;
  }
}
//타원
.intro-ellipse-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.intro-ellipse {
  width: 64px * 0.75;
  height: 64px * 0.75;
  background-image: url("../images/ellipse.png");
  background-size: cover;
  &:hover {
    background-image: url("../images/filled_ellipse.png");
  }
}

.fade-in-box {
  animation: fadein 10s;
  -moz-animation: fadein 10s; /* Firefox */
  -webkit-animation: fadein 10s; /* Safari and Chrome */
  -o-animation: fadein 10s; /* Opera */
}

//애니메이션
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
