div {
  // border: 1px solid green;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  width: 100% !important;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: initial !important;
  text-decoration: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

input:focus,
textarea:focus {
  outline: none;
}

.container {
  padding: 2rem;
}

.img-fluid {
  width: 100% !important;
  height: auto !important;
}

.pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

.main-body {
  //margin: 3rem 0;
}

.image-belt {
  padding: 0;
  // height: 73vh;
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font1 {
  font-family: AnimalsOldCuts;
}
