div {
  border: 1px solid green;
}

.img-fluid {
  width: 100% !important;
  height: auto !important;
}

.pointer {
  cursor: pointer;
}

.align-center {
  display: flex;
  align-items: center;
}

.main-body {
  margin: 3rem 0;
}
