.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;

  perspective: 1200px;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal-contents {
  position: relative;
  top: 0px;
  padding: 0 auto;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.15);
  // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  text-align: center;

  transform-style: preserve-3d;
  backface-visibility: visible;

  width: 602px * 0.75;
  height: 764px * 0.75;
  background-size: cover;
  font-family: "Noto Sans KR", sans-serif;
}

.paper-left {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: calc(602px * 0.75 / 2);
  transform-origin: left center;
  background-image: url("../images/modal-paper-left-img.jpg");
  width: calc(602px * 0.75 / 2);
  height: 764px * 0.75;
  transform: rotateY(-180deg);
  animation: bookOpen 1.2s ease-in-out;
}

.paper-right {
  position: absolute;
  top: 0;
  left: calc(602px * 0.75 / 2);
  transform-origin: left center;
  background-image: url("../images/modal-paper-right-img.jpg");
  width: calc(602px * 0.75 / 2);
  height: 764px * 0.75;
}

.modal-contents {
  // background-image: url("../images/modal-paper-merge.jpg");
}

.modal-close {
  position: absolute;
  margin-right: 15px;
  color: gray;
  right: 0;

  &:hover {
    cursor: pointer;
  }
}

.modal-body {
  background-color: transparent;
  padding: 2rem;
  text-align: center;
  position: absolute;
  z-index: 1000;
  //opacity: 0;
  // animation: textFadeIn 10s ease-in;
}

.body-title {
  font-size: 24px * 0.75;
  font-weight: bold;
}

.body-title-sub {
  font-size: 16px * 0.75;
}

.answer {
  font-size: 20px * 0.65;
  display: table-cell;
  vertical-align: bottom;
}
//글씨 크기
.text-sz20 {
  font-size: 20px * 0.75;
}

.text-sz18 {
  font-size: 18px * 0.75;
}

.text-sz16 {
  font-size: 16px * 0.75;
}

.text-sz14 {
  font-size: 14px * 0.75;
  font-weight: lighter;
}
//질문 선택
.question-ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-ellipse-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
}

.question-ellipse-img {
  width: 20px * 0.75;
  height: 20px * 0.75;
  &:hover {
    cursor: pointer;
  }
}

.search-option1-img {
  width: 31.02px;
  height: 31.75px;
}

.search-option2-img {
  width: 27.62px;
  height: 29.84px;
}

.search-option3-img {
  width: 27.02px;
  height: 27.85px;
}

.search-option4-img {
  width: 17.42px;
  height: 19.93px;
}

.search-option5-img {
  width: 31.02px;
  height: 29.05px;
}

.search-option6-img {
  width: 26.58px;
  height: 27.85px;
}
.addtext {
  white-space: pre-wrap;
}

//보러가기 버튼

.modal-btn-loc {
  display: flex;
  justify-content: center;
}

.modal-btn-wrap {
  width: 164.41px * 0.75;
  height: 54.98px * 0.75;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  justify-self: center;
}

.modal-btn-wrap a {
  color: black;
  &:hover {
    color: rgba(0, 0, 0, 0.178);
  }
}

.btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-btn-img {
  width: 164.41px * 0.75;
  height: 54.98px * 0.75;
}

@keyframes textFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bookOpen {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-180deg);
  }
}
