//방문객 이름 목록
.visitor-name-insert {
  margin: 5rem 0;
}

.visitor-name-input {
  border: none;
  width: 30%;
  background-color: #f2f2f2;
  font-size: 26px * 0.75;
}

.guestbook-name-btn-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.guestbook-name-btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px * 0.75;
}

.guestbook-name-btn-img {
  width: 91px * 0.75;
  height: 44px * 0.75;
}

.guestbook-name-list {
  border: 1px solid #707070;
  font-size: 20px * 0.75;
  box-shadow: 3px 3px grey;
}

.border-r {
  border-right: 1px solid black;
}

.border-b {
  border-bottom: 1px solid black;
}
